html,
body {
  height: 100%;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://raw.githubusercontent.com/GrammyBread/Only1WayRepo/main/Assets/Site/SiteBack.svg');
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.page__body {
  flex: 1;
  overflow: overlay;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page__body::-webkit-scrollbar {
  display: none;
}

.page__background {
  width: 100%;
  height: 100%;
}

.page__header-shadow {
  background: linear-gradient(90deg, white, bisque, orange, red);
  z-index: -800;
  height: 100%;
  width: 100%;
  filter: blur(30px);
  position: absolute;
  top: -5%;
  clip-path: polygon(6% 16%, 100% 0%, 98% 75%, 0% 100%);
}

.page__header-title {
  background: rgb(0, 0, 0);
  color: #39cdb3;
  font-size: 4rem;
  height: 90%;
  z-index: 999;
  width: 90%;
  position: relative;
  padding: 4rem 0.5rem 6rem 2rem;
  margin-left: 2%;
  text-align: center;
  font-weight: 700;
  clip-path: polygon(6% 16%, 100% 0%, 98% 75%, 0% 100%);
}

.page__header {
  height: fit-content;
  width: fit-content;
  position: relative;
  max-width: 40%;
}

.page__details,
.story__details {
  min-height: 100%;
  margin-bottom: 30px;
  position: relative;
}

.page__details h3 {
  font-weight: 200 !important;
}

.page__details h2 {
  font-weight: 400 !important;
}

.page__details-text,
.story__details-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 90%;
  margin-top: 10%;
  z-index: 999;
  color: white;
}

.page__details-background,
.story__details-background {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -999;
}

.page__details-background {
  clip-path: polygon(5% 4%, 92% 0, 100% 46%, 86% 100%, 24% 100%, 0 75%);
  margin-top: -5%;
}

.background-image__1 {
  height: 70%;
  display: flex;
  position: relative;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.background-image__2 {
  background-position-x: center;
  background-position-y: 20%;
  background-image: url('https://raw.githubusercontent.com/GrammyBread/Only1WayRepo/main/Assets/Site/HomeBackground.svg');
}

.background-image__3 {
  background-position-x: center;
  background-position-y: 30%;
  background-image: url('https://raw.githubusercontent.com/GrammyBread/Only1WayRepo/main/Assets/Site/DetailsBackground.svg');
}

.details-text__Q {
  background: black;
  text-align: center;
  flex: 1 1 0%;
  height: fit-content;
  padding: 2rem 3rem;
  margin-top: 1rem;
}

.details-text__A {
  flex: 2 1 0%;
  font-size: 1.75rem;
  background: white;
  color: black;
  padding: 5% 10% 20% 15%;
  margin-left: -10%;
  z-index: -1;
  font-weight: 200 !important;
}

.details-text__item {
  display: flex;
  flex: 1 1 0%;
  align-items: flex-start;
  margin-top: 1rem;
}

.Q_1 {
  clip-path: polygon(15% 0px, 80% 0px, 91% 100%, 13% 79%);
}

.Q_2 {
  clip-path: polygon(12% 0px, 88% 0px, 96% 100%, 7% 80%);
}

.A_1 {
  clip-path: polygon(0 0, 94% 5%, 93% 81%, 5% 100%);
}

.A_2 {
  clip-path: polygon(9% 0, 95% 3%, 100% 81%, 0 92%);
}

.text__strong {
  color: #39cdb3;
  font-weight: 700 !important;
}

.text__min {
  margin-left: 3%;
}

.link__strong {
  color: #39cdb3;
  text-decoration: underline;
  font-weight: 700 !important;
}

.story__details {
  height: fit-content;
  width: 100%;
}

.story__details h3 {
  font-weight: 200 !important;
  margin-left: 3%;
}

.story__details h2 {
  font-weight: 700 !important;
}

.story__details-text {
  flex-flow: column wrap;
  height: fit-content;
  width: 100%;
}

.story__header {
  flex: 1;
  padding: 1% 20% 10% 5%;
  background: black;
  clip-path: polygon(0 0, 100% 0, 77% 100%, 0 79%);
  height: fit-content;
  width: 100%;
  flex: 1;
}

.story__character-block {
  flex: 3;
  display: flex;
  flex-flow: column;
  place-content: center flex-start;
  align-items: center;
  position: relative;
}

.story__character-background {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: -500;
  clip-path: polygon(0 0, 100% 36%, 100% 100%, 0 81%);
}

.story__image-container {
  flex: 1;
  align-self: baseline;
}

.ela .story__image-container {
  min-width: 80%;
}

.ela .story__character-text {
  margin-top: -10%;
}

.zak .story__image-container {
  min-width: 50%;
}

.zak .story__character-text {
  margin-top: -5%;
}

.zak .story__character-background {
  clip-path: polygon(0 25%, 100% 60%, 100% 100%, 0 89%);
}

.story__character-text {
  flex: 1 1 0%;
  flex-flow: column;
  justify-content: flex-start;
  display: flex;
  padding: 0% 5% 5%;
}

.story__bottom {
  background: black;
  flex: 1 1 0%;
  height: fit-content;
  padding: 5% 5% 3% 10%;
  clip-path: polygon(11% 19%, 100% 41%, 100% 100%, 0px 100%);
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.story__char-image {
  width: 100%;
  height: 100%;
}

.station-symbol {
  height: 3rem;
}


@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
    background-position: top;
  }

  .page__header-title {
    font-size: 3rem;
  }
}

@media only screen and (min-device-width: 1366px) {
  .story__details-background {
    clip-path: polygon(6% 0, 82% 9%, 100% 49%, 98% 100%, 5% 91%, 18% 57%);
  }

  .ela .story__image-container {
    min-width: 50%;
  }

  .zak .story__image-container {
    min-width: 30%;
  }

  .ela .story__character-text {
    padding: 0% 5% 15%;
  }
}

@media only screen and (max-device-width: 700px) {
  .page__header-title {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-device-width: 450px) {
  .story__bottom {
    padding-top: 25%;
  }
}

@media only screen and (max-device-width: 1001px) and (min-device-width: 251px) {
  .story__bottom {
    padding-top: 20%;
  }
}

@media screen and (orientation:portrait) {
  .logo__portrait {
    background-attachment: inherit;
    background-position: top;
    background-repeat: no-repeat;
    aspect-ratio: 8 / 12;
    width: 100%;
    background-image: url();
    clip-path: polygon(53% 0, 96% 28%, 100% 100%, 56% 100%, 3% 63%, 0 0);
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -999;
  }

  .background-image__1 {
    height: 80%;
  }

  .logo__landscape {
    display: none;
  }

  .page__header-title {
    font-size: 2rem;
    padding-left: .5rem;
  }

  .page__header-shadow {
    filter: blur(10px);
  }

  .page__header {
    margin-top: 2rem;
  }

  .page__details-text {
    flex-flow: column wrap;
  }

  .story__character-block {
    flex-flow: column;
    place-content: center flex-start;
    align-items: center;
  }

  .story__character-text {
    padding: 0% 5% 35% 5%;
  }

  .zak .story__character-text {
    padding: 0% 5% 15% 5%;
  }
}

@media screen and (orientation:landscape) and (max-device-width:1000px) {
  .details-text__A {
    padding-top: 10%;
  }
}


@media screen and (orientation:landscape) {
  .logo__landscape {
    background-attachment: inherit;
    background-position: top;
    background-repeat: no-repeat;
    aspect-ratio: 15 / 6;
    width: 100%;
    background-image: url();
    clip-path: polygon(64% 0, 100% 12%, 100% 100%, 45% 100%, 8% 75%, 0 0);
    position: absolute;
    top: 0;
    z-index: -999;
  }

  .logo__portrait {
    display: none;
  }

  .story__character-text {
    padding: 0% 5% 20% 5%;
  }

  .zak .story__character-text {
    padding: 0% 5% 10% 5%;
  }
}